@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-divider-horizontal.ant-divider-with-text::before {
  border-top: 3px solid black;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  border-top: 3px solid black;
}

#root {
  height: 100%;
}


.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: 0px
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #b7b4b4;
  border-radius: 50%;
  display: inline-block;
}

.dot-fill {
  height: 8px;
  width: 8px;
  background-color: #78bffd;
  border-radius: 50%;
  border: 0px solid #707070;
  display: inline-block;
}

.ant-input-textarea {
  display: inline-block;
  width: 80%;
}

.site-badge-count-room .ant-badge-count {
  background-color: #ff655a;
  color: #fff;
  padding: 0px !important;
}

.ant-modal-body {
  padding: 0
}


.ant-modal-close-x {
  line-height: 36px;
  width: 36px;
  height: 36px; 
}

.ant-input-textarea {
  width :100%;
}

.alert-popup {
  width: 400px !important;
}

.confirm-popup {
  width: 400px !important;
}

.talk-move-popup {
  width : 400px !important;
}

.member-state-change-popup {
  width : 400px !important;
}

.minwon-add-popup {
  width: 800px !important;
}

.minwon-history-popup {
  width: 800px !important;
}

.join-history-popup {
  width: 800px !important;
}

.template-form-popup {
  width: 800px !important;
}

.manual-taglist-popup {
  max-width: 450px !important;
}

.black-customer-popup {
  max-width: 450px !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9E9E9E white;
}
*::-webkit-scrollbar {
  width: 2px;
}
*::-webkit-scrollbar-track {
  background: #fff;
}
*::-webkit-scrollbar-thumb {
  background-color: #9E9E9E;
}

.none-border .ant-card-grid {
  box-shadow: none;
}

.side-bar .ant-menu-vertical > .ant-menu-item {
  height: 70px;
  line-height: 20px;
}

.focus-textarea textarea:focus{
  background-color: #fff !important;
}

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

option:first {
  color: red;
}

.font-em1 {
  font-size: 1.1em
}

.font-em2 {
  font-size: 1.2em;
}

.font-em3 {
  font-size: 1.3em;
}

.font-em4 {
  font-size: 1.4em;
}

.font-em5 {
  font-size: 1.5em;
}

.font-em6 {
  font-size: 1.6em;
}

.font-em8 {
  font-size: 1.8em;
}

.font-em10 {
  font-size: 2.0em;
}

.mr0 {
  margin: 0px;
}

.mrl5 {
  margin-left: 5px;
}

.mrr5 {
  margin-right: 5px;
}

.mrl10 {
  margin-left: 10px;
}

.mrr10 {
  margin-right: 10px;
}

.mrl15 {
  margin-left: 15px;
}

.mrr15 {
  margin-right: 15px;
}

.mrl20 {
  margin-left: 12px;
}

.mrr20 {
  margin-right: 20px;
}

.mrt5 {
  margin-top: 5px;
}

.mrb5 {
  margin-bottom: 5px;
}

.mrt10 {
  margin-top: 10px;
}

.mrb10 {
  margin-bottom: 10px;
}

.mrt15 {
  margin-top: 15px;
}

.mrb15 {
  margin-bottom: 15px;
}

.mrt20 {
  margin-top: 20px;
}

.mrb20 {
  margin-bottom: 20px;
}


.mrt30 {
  margin-top: 30px;
}

.inblock {
  display: inline-block;
}

.bg-basic {
  background-color: #35bffd;
}

.color-basic {
  color: #35bffd
}

.bg-white {
  background-color: #fff;
}

.color-white {
  color: #fff;
}

.color-gray {
  color: #e3e0e0;
}

.bg-orange {
  background-color: orange;
}

.color-orange {
  color: orange;
}

.bor {
  border: 1px solid #cdcdcd;
}

.bor-bottom {
  border-bottom: 1px solid #cdcdcd;
}

.bor-top {
  border-top: 1px solid #cdcdcd;
}

.bor-left {
  border-left: 1px solid #cdcdcd;
}

.bor-right {
  border-right: 1px solid #cdcdcd;
}

.text {
  color: #434141 !important;
}

.red {
  color: red
}

.text-under {
  text-decoration: underline;
  text-underline-position: under;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.pd-top5 {
  padding-top: 5px;
}

.pd-top10 {
  padding-top: 10px;
}

.pd-top15 {
  padding-top: 15px;
}

.pd-top20 {
  padding-top: 20px;
}

.pd-top30 {
  padding-top: 30px;
}

.pd-bottom5 {
  padding-bottom: 5px;
}

.pd-bottom10 {
  padding-bottom: 10px;
}

.pd-bottom15 {
  padding-bottom: 15px;
}

.pd-bottom20 {
  padding-bottom: 20px;
}

.pd-bottom30 {
  padding-bottom: 30px;
}

.pd-left5 {
  padding-left: 5px;
}

.pd-left10 {
  padding-left: 10px;
}

.pd-left15 {
  padding-left: 15px;
}

.pd-left20 {
  padding-left: 20px;
}

.pd-left30 {
  padding-left: 30px;
}

.pd-right5 {
  padding-right: 5px;
}

.pd-right10 {
  padding-right: 10px;
}

.pd-right15 {
  padding-right: 15px;
}

.pd-right20 {
  padding-right: 20px;
}

.pd5 {
  padding: 5px;
}


.pd7 {
  padding: 7px;
}

.pd10 {
  padding: 10px;
}

.pd15 {
  padding: 15px;
}

.pd20 {
  padding: 20px;
}

.pd25 {
  padding: 25px;
}

.pd30 {
  padding: 30px;
}

.ant-tabs-nav::before {
  border: 0px solid black !important;
}

.none {
  display: none;
}

.chatbot-history-popup .ant-modal-content {
  border-radius: 15px;
}

.manual-taglist-popup .ant-modal-content {
  border-radius: 15px;
}

.okbtn {
  background-color: #62aef1;
  color: #fff;
  height: 43px;
  border: 0px;
  border-radius: 0px !important;
}

.cancelbtn {
  background-color: #b5b1b1;
  color: #fff;
  height: 43px;
  border: 0px;
  border-radius: 0px !important;
}

.tag-enable {
  background-color: #62aef1;
  border-radius: 10px;
  border: 2px solid #fff;
  padding: 10px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #fff;
}

.tag-disable {
  background-color: #fff;
  border-radius: 10px;
  border: 2px dashed #62aef1;
  padding: 7px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  color: #62aef1;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.bg-gray {
  background-color: #e3e0e0;
}

.bg-baisc-low {
  background-color: #dcf4ff;
}

.bg-yellow {
  background-color: yellow;
}

.join-history-popup .ant-collapse-content > .ant-collapse-content-box {
  padding: 0
}

.ant-modal.join-history-popup {
  top: 30px;
}

.ant-scroll-number-only-unit {
  font-weight: bold;
}

.stats-box-shadow { 
  box-shadow: 3px 3px 7px #aaaaaa;
}

.grid5 {
  width: 20%;
  text-align: 'center';
  border: 0px;
  padding: 30
}

.grid4 {
  width: 25%;
  text-align: 'center';
  border: 0px;
  padding: 30
}

.grid2 {
  width: 50%;
  text-align: 'center';
  border: 0px;
  padding: 30
}

.roomlist-inner-link {
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  background-color: orange;
  color: #fff;
  border-radius: 10px;
}

.ant-btn:focus {
  color: #fff;
  background-color: #35bffd;
}